<div class="container col-10 mt-3">
    <h1>Editar cupons</h1>
    <hr>

    <form action="/cupom/atualizar" method="POST">
      <input type="hidden" name="id" value="{{cupom._id}}">

        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" class="form-control" value="{{cupom.name}}" required />
        </div>

        <div class="form-group">
            <label for="value">Valor</label>
            <input type="text" name="value" id="value" class="form-control" value="{{cupom.value}}" required />
        </div>

        <div class="form-group">
            <label for="expiration">Validade</label>
            <input type="text" name="expiration" id="expiration" class="form-control" value="{{cupom.expiration}}" required />
        </div>

        <div class="d-flex justify-content-around">
            <div>
                <button class="btn btn-success mt-2"><strong>Atualizar</strong></button>
            </div>
            <div>
                <a href="/cupons" class="btn btn-secondary mt-2">Voltar</a>
            </div>
        </div>

    </form>
</div>
