ul i {
    margin-right: 2%;
}
select {
    height: 36px;
}
label {
    margin-top: 8px;
}
.input-form {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}